{%- for instance in routing_instance | d([]) if instance.protocol == 'eigrp' -%}
{%- set eigrp_network_statements = [] -%}
{%- for interface in  l3_interfaces | d([]) | union(l3_subinterfaces | d([])) -%}
{%- if interface.ipv4_address is defined and interface.ipv4_address | ipaddr('subnet') in instance.ipv4_networks | d([]) | map('extract', ipv4_networks) | list -%}
{{ eigrp_network_statements.append('network '+ (interface.ipv4_address | ipaddr('network')) + ' ' + (interface.ipv4_address | ipaddr('hostmask'))) }}
{%- endif -%}
{%- endfor -%}
{%- if eigrp_network_statements | length > 0 -%}
router {{instance.protocol}} {{instance.area}}
{% for statement in eigrp_network_statements %}
 {{statement}}
{% endfor %}
{%- endif -%}
{%- endfor -%}
