{% for instance in fhrp_instance | d([]) %}
{%- for interface in  l3_interfaces | d([]) -%}
{%- if interface.ipv4_address is defined and interface.ipv4_address | ipaddr('subnet') in instance.ipv4_networks | map('extract', ipv4_networks) | list -%}
interface {{interface.interface_type}}{{interface.interface_id}}
 {{instance.protocol}} {{instance.group}} ip {{instance.ipv4_vip}}
{% for priority in fhrp_priorities | d([]) %}
{% if priority.group == instance.group %}
 {{instance.protocol}} {{instance.group}} priority {{priority.priority}}
{% endif %}
{% endfor %}
{% if instance.auth is defined %}
 {{instance.protocol}} {{instance.group}} authentication md5 key-string {{instance.auth}}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% for instance in fhrp_instance | d([]) %}
{%- for interface in  l3_subinterfaces | d([]) -%}
{%- if interface.ipv4_address is defined and interface.ipv4_address | ipaddr('subnet') in instance.ipv4_networks | map('extract', ipv4_networks) | list -%}
interface {{interface.interface_type}}{{interface.interface_id}}.{{interface.vlan}}
 {{instance.protocol}} {{instance.group}} ip {{instance.ipv4_vip}}
{% for priority in fhrp_priorities | d([]) %}
{% if priority.group == instance.group %}
 {{instance.protocol}} {{instance.group}} priority {{priority.priority}}
{% endif %}
{% endfor %}
{% if instance.auth is defined %}
 {{instance.protocol}} {{instance.group}} authentication md5 key-string {{instance.auth}}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}