{% for item in l3_interfaces | default([])  %}
interface {{item.interface_type}}{{item.interface_id}}
{% if item.description is defined and item.description != None %}
 description {{item.description}}
{% endif %}
{% if item.ipv4_address is defined %}
 ip address {{item.ipv4_address | ipaddr('address')}} {{item.ipv4_address | ipaddr('netmask')}}
{% endif %}
{% if item.ipv6_address is defined %}
 ipv6 address {{item.ipv6_address}} {{item.ipv6_address_option | d('')}}
{% endif %}
{% if item.source is defined %}
 tunnel source {{item.source}}
{% endif %}
{% if item.mode is defined %}
 tunnel mode {{item.mode}}
{% endif %}
{% if item.shutdown %}
 shutdown
{% else %}
 no shutdown
{% endif %}
{% endfor %}

{% for item in l3_subinterfaces | default([])  %}
interface {{item.interface_type}}{{item.interface_id}}.{{item.vlan}}
{% if item.description is defined and item.description != None %}
 description {{item.description}}
{% endif %}
 encapsulation dot1Q {{item.vlan}} {{ item.vlan_mode | d("") }}
{% if item.ipv4_address is defined %}
 ip address {{item.ipv4_address | ipaddr('address')}} {{item.ipv4_address | ipaddr('netmask')}}
{% endif %}
{% if item.ipv6_address is defined %}
 ipv6 address {{item.ipv6_address}} {{item.ipv6_address_option | d('')}}
{% endif %}
{% if item.shutdown %}
 shutdown
{% else %}
 no shutdown
{% endif %}
{% endfor %}
